/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.section li {
  margin-bottom: 0.6rem;
  line-height: 1.6;
}

.section b {
  color: var(--ifm-color-primary);
}